<!-- File managed by puppet (class profile::azure_billing_report), changes will be lost. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azure reporting ({{ generated_date.strftime('%Y-%m-%d') }})</title>
</head>
<body>
    <h1>Azure reporting until the {{ generated_date.strftime('%Y-%m-%d') }}</h1>

    <h2>Balances</h2>
    <p>
      All time consumption: {{ "{:,.2f}".format(balances.usedCredits | float).replace(",", " ") }} $
    </p>
    <p>
      Remaining credits : {{ "{:,.2f}".format(balances.remainingCredits | float).replace(",", " ") }} $
    </p>
    <p>
      {{ balances.remainingDays }}
    </p>
    <h2>Cost per day</h2>
    <p>
        <img src="cost_per_day.png"/>
        <br>
        Raw data: <a href="cost_per_day.html">html</a> / <a href="cost_per_day.md">markdown</a>
    </p>
    <h2>Cost per month</h2>
    <p>
        <img src="cost_per_month.png"/>
        <br>
        Raw sdata: <a href="cost_per_month.html">html</a> / <a href="cost_per_month.md">markdown</a>
    </p>

    <h2>Cost per service per day</h2>
    <p>Raw data: <a href="cost_per_service_per_day.html">html</a> / <a href="cost_per_service_per_day.md">markdown</a></p>

    <h2>Cost per service per month</h2>
    <p>Raw data: <a href="cost_per_service_per_month.html">html</a> / <a href="cost_per_service_per_month.md">markdown</a></p>

    <p>generation date: {{ generated_date }}</p>
</body>
</html>
