[Unit]
Description=Software Heritage Worker (%i)
After=network.target

[Service]
User=swhworker
Group=swhworker

Type=simple
Environment=SWH_CONFIG_FILENAME=/etc/softwareheritage/%i.yml
Environment=SWH_LOG_TARGET=journal
Environment=CONCURRENCY=10
Environment=MAX_TASKS_PER_CHILD=5
Environment=LOGLEVEL=info
ExecStart=/usr/bin/python3 -m celery worker -n %i.%%h --app=swh.scheduler.celery_backend.config.app --pool=prefork --events --concurrency=${CONCURRENCY} --maxtasksperchild=${MAX_TASKS_PER_CHILD} -Ofair --loglevel=${LOGLEVEL} --without-gossip --without-mingle --without-heartbeat

KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=15m

OOMPolicy=kill

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target